// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;

// Chromatic
$RED: #ff3b30;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;

// Text
$BIG_TITLE: #1f315b;
$SUB_TITLE: #8f99bf;
$TASK_ITEM_TITLE: #4f566f;
$SIDE_NAME: $WHITE;
$SIDE_MENU_TITLE: #8f99bf;
$WARNING_TITLE: #dc3545;

// background
$MAIN_BACKGROUND: #f9faff;
$OUTSIDE_BACKGROUND: #d9dff8;
$SIDE_BACKGROUND: #0e1f55;

// category
$CATEGORY_ALL: #06113c;
$CATEGORY_BUSINESS: #9900f0;
$CATEGORY_PERSONAL: #4d77ff;
$CATEGORY_HEALTH: #49ff00;
$CATEGORY_HOBBY: #ff95c5;

// button
$BUTTON: $BLUE;
$ICON_BUTTON: $GRAY6;
