$H_NAV: 50px;
$H_NAV_SD: 60px;

// 폰트 사이즈
$SUB_TITLE_FONT_SIZE: 14px;
$TASK_FONT_SIZE: 18px;

// Todo border-radius 사이즈
$TODO_BORDER_RADIUS: 20px;

// Todo Btn 사이즈
$TODO_BTN: 30px;
$BIG_TITLE: 30px;
$SUB_TITLE: 12px;
// 폰트 사이즈
$SUB_TITLE_FONT_SIZE: 14px;
$TASK_FONT_SIZE: 18px;

// Todo border-radius 사이즈
$TODO_BORDER_RADIUS: 20px;

// Todo Btn 사이즈
$TODO_BTN: 30px;
