@use '/src/styles/constants/colors';
@use '/src/styles/mixins/position';

.inputModal {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 720px;
  text-align: center;
  visibility: hidden;
  background-color: colors.$MAIN_BACKGROUND;
  border-radius: 350px / 350px;
  transition: all 0.2s linear;
  transform: translate(50px, 520px);

  * {
    opacity: 0;
    transition: opacity 0.6s linear;
  }
}

.open {
  visibility: visible;
  border: 0;
  border-radius: 0;
  box-shadow: 0;
  opacity: 1;
  transform: translate(0, 0);

  * {
    opacity: 1;
  }
}

.inputWrapper {
  @include position.absolute(35% auto auto 10%);
}

.input {
  width: 280px;
  height: 50px;
  padding-left: 2px;
  overflow: hidden;
  font-size: 23px;
  color: colors.$BLACK;
  caret-color: colors.$BLUE;
}

.input::placeholder {
  padding-left: 2px;
  color: colors.$SUB_TITLE;
}

.taskvalidMessage {
  padding-left: 2px;
  margin-top: 5px;
  font-size: 14px;
  color: colors.$BLUE;
  text-align: left;
  letter-spacing: -0.075em;
}

.closeButton {
  @include position.absolute(50px 30px auto auto);
  width: 45px;
  height: 45px;
  line-height: 50%;
  border: 3px solid colors.$GRAYD;
  border-radius: 50%;
}

.datePickerWrapper {
  position: absolute;
  top: 50%;
  left: 10%;
}

.datePicker {
  width: 140px;
  padding: 8px;
  background-color: colors.$WHITE;
  border: 3px solid colors.$GRAYE;
  border-radius: 60px;

  .expirationDate {
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    color: colors.$SUB_TITLE;
  }
}

.expirationvalidMessage {
  padding-left: 5px;
  margin-top: 10px;
  font-size: 14px;
  color: colors.$BLUE;
  letter-spacing: -0.075em;
}

.categoryWrapper {
  @include position.absolute(50% 13% auto auto);
  width: 120px;
  height: 45px;
}

.categoryButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 45px;
  line-height: 50%;
  background-color: colors.$WHITE;
  border: 3px solid colors.$GRAYE;
  border-radius: 50px;

  &.business {
    color: colors.$CATEGORY_BUSINESS;
  }

  &.personal {
    color: colors.$CATEGORY_PERSONAL;
  }

  &.health {
    color: colors.$CATEGORY_HEALTH;
  }

  &.hobby {
    color: colors.$CATEGORY_HOBBY;
  }
}

.categoryDropdown {
  @include position.absolute(60% auto auto auto);
  z-index: -1;
  width: 120px;
  padding-top: 15px;
  line-height: 180px;
  background-color: colors.$WHITE;
  border: 3px solid colors.$GRAYE;
  border-top: none;
  border-radius: 0 0 20px 20px;

  li {
    right: 0;
    width: 100%;
    height: 35px;
    margin-top: 1px;
    line-height: 35px;

    button {
      width: 100%;
      font-size: 16px;
      color: colors.$SUB_TITLE;
    }
  }
}

.newTaskButton {
  @include position.absolute(auto 30px 50px auto);
  display: flex;
  justify-content: space-around;
  width: 160px;
  height: 55px;
  padding: 0 20px;
  font-size: 15px;
  line-height: 55px;
  color: colors.$WHITE;
  text-align: center;
  background-color: colors.$BUTTON;
  border-radius: 40px;
  box-shadow: colors.$BLUE 0 20px 20px -20px;

  .newTaskArrowUpIcon {
    height: 55px;
    line-height: 60px;
  }
}
