@use '/src/styles/constants/colors';

.container {
  position: relative;
  z-index: 2;
  width: 360px;
  height: 720px;
  padding: 70px 40px;
  overflow: hidden;
  background-color: colors.$MAIN_BACKGROUND;
  border-radius: 60px;
  transition: 0.3s ease-in;
}

.showSideBar {
  transition: 0.3s ease-in;
  transform: translateX(70%) scale(90%);
}
